*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgb(179, 113, 241);
   padding: 15px 0px;
}
.container{
    display: flex;
    justify-content:space-between;

align-items: center;
max-width: 90%;
margin: auto;

}
nav ul,.buttons ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}
nav ul a:link,
nav ul a:visited,
nav ul a:active,
nav ul a:hover{
    color: black;
    text-decoration: none;
}
nav ul a:hover{
    color: blueviolet;
}
.buttons ul a:link,
.buttons ul a:visited,
.buttons ul a:active,
.buttons ul a:hover{
    background-color: red;
    color: antiquewhite;
    padding: 5px 10px;

}
.buttons ul a :hover{
    background-color: brown;

}@media(max-width:768px){
    header .container{
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        text-align: center
    }
    nav ul{

         flex-direction: column;
         gap: 15px;
    }
    .buttons ul{
        justify-content: center;
        padding: 15px 0px;
    }
}
.flex row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.flex-col{
    flex: 1;
}
section#hero{
    background-image: url(rose/pic.jpg);
    background-size: cover;
}

section#hero.container{
    max-width: 90%;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content{
    color: rgb(255, 167, 167) ;
}
.hero-content h1{
    font-size: 50px;
    margin-bottom: 15px;
    color: rgb(80, 173, 255)
    ;
}
section#about {
    margin-top: 20px;
}
section#about .container{
    max-width: 90%;
    margin: auto;
}
.flex-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.flex-col{
    flex: 1;
}
.About-text , .About-img{
    min-width: 500px;
    min-height: 250px;
}
img.About-img{
    width: 100%;
}
.About-text h1, .About-text p{
    margin-bottom: 20px;
}
section#products{
    margin-top: 50px;
}
section#products h2{
    text-align: center;
    margin: 50px 0px 40px;
}
section#products .container{
    max-width: 90%;
    margin: auto;
}
.products{

   background-color: brown;
    min-width: 150px;
    min-height: 200px;
}
img.products-pic{
    width: 100%;
}
h4.products-h4{
    margin: 15px,0px,10px;
    text-align: center;
}
.products p{
    padding: 15px;
}
section#footer{
    background-color: aqua;
    background-size: cover;
}
section#footer.container{
    max-width: 90%;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-content{
    color: black;
}
.footer-content h1{
    font-size: 50px;
    margin-bottom: 15px;
    color: blueviolet;
}



